#all{
    height: 100vh;
    overflow: hidden;
}
#header{
    display: flex;
    height: 69px;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid lightgray 1px;
}
    #logo{
        margin-right: auto;
    }
    a{
        text-decoration: none;
        color: black;
    }
    #header a{
        padding:15px;
    }
#content{
    height: 100%;
    display: flex;
}
    #face{
        flex: 2;
        border: solid black 1px;
        background-image: url('face.jpg');
        background-size: cover;

    }
    #sidebar{
        flex: 1
    }
    #footer{
        position: fixed;
        bottom: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, .8);
        height: 60px;
    }