
#header{
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: lightblue;
    justify-content: flex-end;
    align-items: center;
}
#logo{
    margin-right: auto;
}
a{
    text-decoration: none;
}
#header a{
    padding:15px;
    border:solid black 1px
}